
[submodule "lib/barvinok"]
	path = lib/barvinok
	url = https://repo.or.cz/barvinok.git
[submodule "lib/isl"]
	path = lib/isl
	url = https://repo.or.cz/isl.git
[submodule "lib/accelergy"]
	path = lib/accelergy
	url = https://github.com/Accelergy-Project/accelergy.git
[submodule "lib/timeloop"]
	path = lib/timeloop
	url = https://github.com/NVlabs/timeloop.git
